@if (SelectedItem != null && SelectedItem._id > 0)
{
    <div class="row p-2">
        <div class="col">
            <span>@SelectedItem.name played in the following <b>enemies</b> @(WinCategory ? "👑" : "")</span>
            <div class="shadow-sm p-2" style="border-radius: 8px">
                <div class="col d-flex flex-column pb-2">
                    @if (SelectedItem.enemies.Count > 0)
                    {
                        @foreach (var item in SelectedItem.enemies)
                        {
                            <span>@(SelectedItem.enemies.IndexOf(item) + 1)) @item</span>
                        }
                    }
                    else
                    {
                        <span>Oh no! It seems this character does not have any enemies 🥺</span>
                    }
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public Characters SelectedItem { get; set; }
    [Parameter]
    public bool WinCategory { get; set; } = false;
}
