@if (SelectedItem != null && SelectedItem._id > 0)
{
    <div class="row p-2">
        <div class="col">
            <span>@SelectedItem.name played in the following <b>park attractions</b> @(WinCategory ? "👑" : "")</span>
            <div class="shadow-sm p-2" style="border-radius: 8px">
                <div class="col d-flex flex-column pb-2">
                    @if (SelectedItem.parkAttractions.Count > 0)
                    {
                        @foreach (var item in SelectedItem.parkAttractions)
                        {
                            <span>@(SelectedItem.parkAttractions.IndexOf(item) + 1)) @item</span>
                        }
                    }
                    else
                    {
                        <span class="fw-cold"><i>Oh no! It seems this character  does not have any park attractions 🥺</i></span>
                    }
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public Characters SelectedItem { get; set; }
    [Parameter]
    public bool WinCategory { get; set; } = false;
}
