@page "/"
<div class="row text-center">
    <div class="col">
        <h3 style="color: #9c6e9f;">DID YOU KNOW?🎉</h3>
    </div>
</div>
<div class="row text-center pb-3">
    <div class="col">
        <small>Hover over a character to reveal their secret Disney fact!</small>
    </div>
</div>

<div class="gallery-grid">
    <div class="image-container">
        <img src="Assets/WinnieThePooh.jpg">
        <div class="overlay-text">🐻 Winnie the Pooh was inspired by a real bear named Winnipeg.</div>
    </div>
    <div class="image-container">
        <img src="Assets/Stitch.jpg">
        <div class="overlay-text">🌌 Stitch can lift objects 3,000 times his own weight!</div>
    </div>
    <div class="image-container">
        <img src="Assets/ToyStory.jpg">
        <div class="overlay-text">🧸 Toy Story was the first feature-length film made entirely with CGI.</div>
    </div>
    <div class="image-container">
        <img src="Assets/LionKing.png">
        <div class="overlay-text">🦁 The Lion King’s trailer was just the full opening scene!</div>
    </div>
    <div class="image-container">
        <img src="Assets/DisneyRandom.jpg">
        <div class="overlay-text">⭐ Mickey Mouse was the first animated character with a Hollywood Walk of Fame star.</div>
    </div>
    <div class="image-container">
        <img src="Assets/Mickey.jpg">
        <div class="overlay-text">🎓 Mickey was created after Disney lost rights to Oswald the Lucky Rabbit.</div>
    </div>
    <div class="image-container">
        <img src="Assets/Minnie.jpg">
        <div class="overlay-text">🎀 Minnie's full name is Minerva Mouse!</div>
    </div>
    <div class="image-container">
        <img src="Assets/Pinocchio.png">
        <div class="overlay-text">🤥 Pinocchio originally died at the end of his story. Dark!</div>
    </div>
</div>

@code {
}
